---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=hello
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="6562fd011e48086281312401f6779c37",
        oauth_signature="a5MNfotJ3z3RsrcQDiwqavrk%2F%2BM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376213", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:16:53 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b548dd2c779432566511570f6d321ded
      X-Response-Time:
      - '58'
      X-Transaction:
      - 4441d746a796a9a3
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Thu, 17 Dec 2015 18:16:53 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="acd884263eef1c3aac9db283573d98f5",
        oauth_signature="MbQa%2FrVwbaopTKXpngBi8afIVdE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376213", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:16:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 522cee4c99d1db0fe7e7c5798584bf56
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450377115'
      X-Response-Time:
      - '31'
      X-Transaction:
      - 8e8976fead54fbde
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 15:29:23 +0000 2015","id":677510911402352640,"id_str":"677510911402352640","text":"hello,
        it''s me","source":"\u003ca href=\"http:\/\/wittercurious.herokuapp.com\"
        rel=\"nofollow\"\u003e- WITTER 2 - \u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":196301468,"id_str":"196301468","name":"Jill
        Donohue","screen_name":"jillmorgand","location":"Denver, CO","description":"Colorado
        based Software Developer","url":"https:\/\/t.co\/hsvM7FCX29","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hsvM7FCX29","expanded_url":"http:\/\/www.my5iveyearplan.tumblr.com","display_url":"my5iveyearplan.tumblr.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":175,"friends_count":191,"listed_count":2,"created_at":"Tue
        Sep 28 20:19:06 +0000 2010","favourites_count":42,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":783,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/196301468\/1443026469","profile_link_color":"ABB8C2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Thu, 17 Dec 2015 18:16:54 GMT
recorded_with: VCR 3.0.0
