---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="7a4c0410a6499537a353a62ca0e282ba",
        oauth_signature="NCCpiVcVphd6faKP%2BEVUDk5WfVI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450364981", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 15:09:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - aa89ed3d6c4b0cf43c68924d87c05dda
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450365882'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 514c2c9edd948b40
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 15:07:50 +0000 2015","id":677505488930476032,"id_str":"677505488930476032","text":"If
        you\u2019re hiring developers (and I know you are) you can\u2019t find one
        more awesome than Sebastian: https:\/\/t.co\/kB3miiPYS8","source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1133971,"id_str":"1133971","name":"Jeff
        Casimir","screen_name":"j3","location":"Denver, CO","description":"Don''t
        talk about it, be about it. Executive Director at @TuringSchool. TFA alum
        and 12 years into reshaping education.","url":"http:\/\/t.co\/1LvlXGFAbh","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/1LvlXGFAbh","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6329,"friends_count":1293,"listed_count":429,"created_at":"Wed
        Mar 14 02:35:24 +0000 2007","favourites_count":4441,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":24188,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":{"id":"3babd6418118e18e","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/3babd6418118e18e.json","place_type":"neighborhood","name":"CBD","full_name":"CBD,
        Denver","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-105.000397,39.740136],[-104.987384,39.740136],[-104.987384,39.752293],[-105.000397,39.752293]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/kB3miiPYS8","expanded_url":"http:\/\/people.turing.io\/people\/sebastian_abondano","display_url":"people.turing.io\/people\/sebasti\u2026","indices":[97,120]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Dec 17 15:05:43 +0000 2015","id":677504955939430401,"id_str":"677504955939430401","text":"Here
        are 3 questions to consider before pitching national media for #econdev marketing
        + #pr pros from @TrevorHughes https:\/\/t.co\/YHluhxjUZZ","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_[...]
