---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="2a60b7452e2e1d1f37220de06800e39c",
        oauth_signature="VIckEkNpxPGApv3xRuNPLEH8%2FTM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373489", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:31:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fd1f67593df85dfcd70bdc5176a582b2
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450374387'
      X-Response-Time:
      - '23'
      X-Transaction:
      - 16387f923e8c8079
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":196301468,"id_str":"196301468","name":"Jill Donohue","screen_name":"jillmorgand","location":"Denver,
        CO","description":"Colorado based Software Developer","url":"https:\/\/t.co\/hsvM7FCX29","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hsvM7FCX29","expanded_url":"http:\/\/www.my5iveyearplan.tumblr.com","display_url":"my5iveyearplan.tumblr.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":175,"friends_count":191,"listed_count":2,"created_at":"Tue
        Sep 28 20:19:06 +0000 2010","favourites_count":42,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":783,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/196301468\/1443026469","profile_link_color":"ABB8C2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 17:31:30 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="40f613626983ab6da227af5b9d638c8b",
        oauth_signature="F4zdg%2FeFaQRhYuuog%2BP3Fd%2FRsbc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373490", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:31:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2b5b929d4ea6b623e1cbf6bdd8a74996
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450374390'
      X-Response-Time:
      - '238'
      X-Transaction:
      - 37ebfe2d6e3f6d38
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":4534904180,"id_str":"4534904180","name":"bitkumo","screen_name":"getbitkumo","location":"San
        Antonio, TX","description":"Hosting for Hackers","url":"https:\/\/t.co\/BVsN3u0Pyg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/BVsN3u0Pyg","expanded_url":"https:\/\/bitkumo.com\/","display_url":"bitkumo.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":69,"friends_count":1015,"listed_count":2,"created_at":"Sat
        Dec 12 05:04:47 +0000 2015","favourites_count":45,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":32,"lang":"en","status":{"created_at":"Thu
        Dec 17 07:02:22 +0000 2015","id":677383316014694400,"id_str":"677383316014694400","text":"RT
        @levlaz: Braindump has officially  been migrated over to @getbitkumo :)","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Dec 17 06:58:41 +0000 2015","id":677382388406722560,"id_str":"677382388406722560","text":"Braindump
        has officially  been migrated over to @getbitkumo :)","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"getbitkumo","name":"bitkumo","id":4534904180,"id_str":"4534904180","indices":[48,59]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"levlaz","name":"Lev
        Lazinskiy","id":1087503266,"id_str":"1087503266","indices":[3,10]},{"screen_name":"getbitkumo","name":"bitkumo","id":4534904180,"id_str":"4534904180","indices":[60,71]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/675542442586726400\/l72wP357_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/675542442586726400\/l72wP357_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4534904180\/1450233191","profile_link_color":"FA743E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":508061502,"id_str":"508061502","name":"Krista
        Nelson","screen_name":"Krista_A_Nelson","location":"SF","description":"Software
        Engineer at @Glassbreakersco \/ Graduate from @Turingschool","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":255,"friends_count":836,"listed_count":8,"created_at":"Tue
        Feb 28 23:13:55 +0000 2012","favourites_count":705,"utc_offset":-25200,"time_zone":"Mazatlan","geo_enabled":false,"verified":false,[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1510594230561235333&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="0d348f3058076298d5b848cd18b1e02e",
        oauth_signature="wCrLsE1wk9WqXnLFPOhk2RXFg3o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373490", oauth_token="196301468-2dQad5Oin0mIuM4UwTDz[...]
[...]
