---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="995c7f0d7a232a210df7444077ecbe73",
        oauth_signature="OHPIaZFrAQJgFsIBSw%2F2jkC8Jlg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373495", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:31:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 050ee79e0355871ea45cf3bf224f1629
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450374396'
      X-Response-Time:
      - '67'
      X-Transaction:
      - cf90343af94fa64f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:31:31 +0000 2015","id":677541647345958912,"id_str":"677541647345958912","text":"Written
        by @WGladstone https:\/\/t.co\/cvwt6JOHKg https:\/\/t.co\/CtYXIcOctC","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14094741,"id_str":"14094741","name":"someecards","screen_name":"someecards","location":"New
        York, NY","description":"Welcome to the Twitter feed of somewhat internationally
        acclaimed humor site, http:\/\/t.co\/GVZIdYcOlq. You\u2019ll love not unfollowing
        us!","url":"http:\/\/t.co\/BdsIwxBLPb","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/BdsIwxBLPb","expanded_url":"http:\/\/someecards.com","display_url":"someecards.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/GVZIdYcOlq","expanded_url":"http:\/\/Someecards.com","display_url":"Someecards.com","indices":[78,100]}]}},"protected":false,"followers_count":2404079,"friends_count":657,"listed_count":12226,"created_at":"Fri
        Mar 07 12:49:08 +0000 2008","favourites_count":912,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":37923,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"DADAD8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/198266956\/twitter_background_final2b.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/198266956\/twitter_background_final2b.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/566997423830999041\/jKCKbHSX_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/566997423830999041\/jKCKbHSX_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14094741\/1427733784","profile_link_color":"966119","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F2F5F8","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"WGladstone","name":"Gladstone","id":22316978,"id_str":"22316978","indices":[11,22]}],"urls":[{"url":"https:\/\/t.co\/cvwt6JOHKg","expanded_url":"http:\/\/some.ly\/PWnKOsT","display_url":"some.ly\/PWnKOsT","indices":[23,46]}],"media":[{"id":677541556556009472,"id_str":"677541556556009472","indices":[47,70],"media_url":"http:\/\/pbs.twimg.com\/media\/CWccdLcWEAAOj2g.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWccdLcWEAAOj2g.png","url":"https:\/\/t.co\/CtYXIcOctC","display_url":"pic.twitter.com\/CtYXIcOctC","expanded_url":"http:\/\/twitter.com\/someecards\/status\/677541647345958912\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"medium":{"w":504,"h":504,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":504,"h":504,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":677541556556009472,"id_str":"677541556556009472","indices":[47,70],"media_url":"http:\/\/pbs.twimg.com\/media\/CWccdLcWEAAOj2g.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWccdLcWEAAOj2g.png","url":"https:\/\/t.co\/CtYXIcOctC","display_url":"pic.twitter.com\/CtYXIcOctC","expanded_url":"http:\/\/twitter.com\/someecards\/status\/677541647345958912\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"medium":{"w":504,"h":504,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":504,"h":504,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Dec 17 17:30:41 +0000 2015","id":677541436989038592,"id_str":"677541436989038592","text":"5
        must-follow habits for people who want to uncover their abs in 2016: https:\/\/t.co\/NtyheDb57h
        https:\/\/t.co\/tJjELBFg8g","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":32122637,"id_str":"32122637","name":"Eat
        This, Not That!","screen_name":"EatThisNotThat","location":"New York, NY","description":"The
        no-diet weight loss solution! Learn [...]
