---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="59b675bb515c01e7910cd233cc536b06",
        oauth_signature="NQWWP3ugMkAGIWZXtI1zYGwIxHk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373486", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:31:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f39d2386162d4fb5bf091bafc6273eef
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450374387'
      X-Response-Time:
      - '26'
      X-Transaction:
      - ead91728ff008c4c
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":196301468,"id_str":"196301468","name":"Jill Donohue","screen_name":"jillmorgand","location":"Denver,
        CO","description":"Colorado based Software Developer","url":"https:\/\/t.co\/hsvM7FCX29","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hsvM7FCX29","expanded_url":"http:\/\/www.my5iveyearplan.tumblr.com","display_url":"my5iveyearplan.tumblr.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":175,"friends_count":191,"listed_count":2,"created_at":"Tue
        Sep 28 20:19:06 +0000 2010","favourites_count":42,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":783,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/196301468\/1443026469","profile_link_color":"ABB8C2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 17:31:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="fffa34e68da3d1d00ce8b6f0fa90f770",
        oauth_signature="p2fyGuMgaeQcIAXkHg8G5fdMAB0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373486", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:31:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b49a2f61251b49441ca6ba51058f8386
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450374387'
      X-Response-Time:
      - '84'
      X-Transaction:
      - d969e6ee142e7a05
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":58899280,"id_str":"58899280","name":"DCI","screen_name":"AboutDCI","location":"New
        York, NY","description":"DCI is the leader in marketing places. We specialize
        exclusively in all phases of economic development and tourism marketing.","url":"http:\/\/t.co\/Q30qJZnqk4","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Q30qJZnqk4","expanded_url":"http:\/\/www.aboutdci.com","display_url":"aboutdci.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5373,"friends_count":3546,"listed_count":320,"created_at":"Tue
        Jul 21 19:51:42 +0000 2009","favourites_count":1765,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":9485,"lang":"en","status":{"created_at":"Thu
        Dec 17 17:15:53 +0000 2015","id":677537714254848000,"id_str":"677537714254848000","text":"Kathy
        Buckworth is a veteran travel writer for major Canadian outlets. Read her
        tips on how to pitch freelancers: https:\/\/t.co\/J7qoNlxwrB","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/J7qoNlxwrB","expanded_url":"http:\/\/ow.ly\/W2en5","display_url":"ow.ly\/W2en5","indices":[114,137]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/474210617243336705\/XKHP9M3D_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/474210617243336705\/XKHP9M3D_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/58899280\/1445010935","profile_link_color":"003057","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":318459187,"id_str":"318459187","name":"Hannah
        Dixon","screen_name":"hannahdixon_","location":"Denver, CO","description":"I''m
        a business and economic development place marketing professional for Development
        Counsellors International. All views are my own.","url":"http:\/\/t.co\/jv09obKF","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/jv09obKF","expanded_url":"http:\/\/www.linkedin.com\/pub\/hannah-dixon\/35\/941\/b86","display_url":"linkedin.com\/pub\/hann[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1419930237796051864&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="f7e09f9a4131b6ebaef6d5c088eee98d",
        oauth_signature="a%2F2OXF7rHXMilGsJUjqAhovwkZ8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373487", oauth_token="196301468-2dQad5Oin0mIuM4UwTDz[...]
[...]
