---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="c834398af42d630ced61eb82b6657eff",
        oauth_signature="nf8xjuK1v7l3VPDFBN2Rf%2FHO%2FXg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450370204", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 16:36:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4587f115c9f0e0dc7af8b0439ffbdbfb
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450371104'
      X-Response-Time:
      - '50'
      X-Transaction:
      - d8ca16e10c2d23e0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 16:34:03 +0000 2015","id":677527186404954112,"id_str":"677527186404954112","text":"This
        Funny But True Web Comic Has A Lot To Say About Teens Then Vs. Now. https:\/\/t.co\/g6sDIVrThF","source":"\u003ca
        href=\"http:\/\/www.postcron.com\" rel=\"nofollow\"\u003ePostcronApp\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":77888423,"id_str":"77888423","name":"OMG
        Facts","screen_name":"OMGFacts","location":"Chicago, Illinois","description":"The
        World''s #1 Fact Source. For more facts, follow:\r\n @OMGFactsSex @OMGFactsCelebs
        @OMGFactsAnimals @OMGFactsSports @OMGFactsTech @OMGFactEspanol","url":"http:\/\/t.co\/ojbtkzt8uS","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ojbtkzt8uS","expanded_url":"http:\/\/omgfacts.com","display_url":"omgfacts.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6916610,"friends_count":12,"listed_count":35689,"created_at":"Mon
        Sep 28 01:28:23 +0000 2009","favourites_count":8,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":69665,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"479EC9","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/675920111\/a0719777bb700c462ecd9d86036ccf85.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/675920111\/a0719777bb700c462ecd9d86036ccf85.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/496299098010447872\/gpFbOsYR_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/496299098010447872\/gpFbOsYR_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/77888423\/1398897251","profile_link_color":"006DA8","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F2F2F2","profile_text_color":"332D2D","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/g6sDIVrThF","expanded_url":"https:\/\/cards.twitter.com\/cards\/18ce53xhlxh\/1a4hn","display_url":"cards.twitter.com\/cards\/18ce53xh\u2026","indices":[73,96]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Dec 17 16:30:37 +0000 2015","id":677526323422732288,"id_str":"677526323422732288","text":"The
        reason you should never hop on the elliptical: https:\/\/t.co\/G3fiBu5x7D
        https:\/\/t.co\/6t5vsi5Atd","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":32122637,"id_str":"32122637","name":"Eat
        This, Not That!","screen_name":"EatThisNotThat","location":"New York, NY","description":"The
        no-diet weight loss solution! Learn [...]
