---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="271287f24bc18b9ef2f856fa297478b9",
        oauth_signature="Cuar7pmcR1UExewvvHEPJDMYwlc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450377785", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:43:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4ffb8720a4a8532801c0064038ebbc0f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1450378514'
      X-Response-Time:
      - '39'
      X-Transaction:
      - 2c0fafa0a8073064
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 15:29:23 +0000 2015","id":677510911402352640,"id_str":"677510911402352640","text":"hello,
        it''s me","source":"\u003ca href=\"http:\/\/wittercurious.herokuapp.com\"
        rel=\"nofollow\"\u003e- WITTER 2 - \u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":196301468,"id_str":"196301468","name":"Jill
        Donohue","screen_name":"jillmorgand","location":"Denver, CO","description":"Colorado
        based Software Developer","url":"https:\/\/t.co\/hsvM7FCX29","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/hsvM7FCX29","expanded_url":"http:\/\/www.my5iveyearplan.tumblr.com","display_url":"my5iveyearplan.tumblr.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":175,"friends_count":191,"listed_count":2,"created_at":"Tue
        Sep 28 20:19:06 +0000 2010","favourites_count":42,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":783,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158889219\/tyedye.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/646725390044557312\/QakSSAhz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/196301468\/1443026469","profile_link_color":"ABB8C2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Dec 17 15:27:39 +0000 2015","id":677510475979079680,"id_str":"677510475979079680","text":"hello","source":"\u003ca
        href=\"http:\/\/wittercurious.herokuapp.com\" rel=\"nofollow\"\u003e- WITTER
        2 - \u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":196301468,"id_str":"196301468","name":"Jill[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="6a6be4cce8af860ae1f2b60e10d997de",
        oauth_signature="6S0OjYAi%2FK8JMeJOjcxbE2J1%2Fpg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450377785", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="f60cd39d22bd17dc7e8e224aec539e72",
        oauth_signature="HptbMYjGRGGUoqiU9ut23x9G%2FtI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450377785", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:43:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 88b08e791496d0b8b20d1af3bb543d04
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '5'
      X-Rate-Limit-Reset:
      - '1450378514'
      X-Response-Time:
      - '234'
      X-Transaction:
      - b2c3a111e4f18a29
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":4534904180,"id_str":"4534904180","name":"bitkumo","screen_name":"getbitkumo","location":"San
        Antonio, TX","description":"Hosting for Hackers","url":"https:\/\/t.co\/BVsN3u0Pyg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/BVsN3u0Pyg","expanded_url":"https:\/\/bitkumo.com\/","display_url":"bitkumo.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":69,"friends_count":1017,"listed_count":2,"created_at":"Sat
        Dec 12 05:04:47 +0000 2015","favourites_count":45,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":32,"lang":"en","status":{"created_at":"Thu
        Dec 17 07:02:22 +0000 2015","id":677383316014694400,"id_str":"677383316014694400","text":"RT
        @levlaz: Braindump has officially  been migrated over to @getbitkumo :)","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Dec 17 06:58:41 +0000 2015","id":677382388406722560,"id_str":"677382388406722560","text":"Braindump
        has officially  been migrated over to @getbitkumo :)","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1510594230561235333&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="969ade8941433f8896579679aaabb001",
        oauth_signature="0%2B4aV9MkbXCG2352QHOVE5hRUr8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450377786", oauth_token="196301468-2dQad5Oin0mIuM4UwT[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1368166591094094470&user_id=196301468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twlYfWi8sJvA6S5uvz4hilBiP", oauth_nonce="38acfed279a862958e75cfb990886de6",
        oauth_signature="6X5xGiXHgLGrqNGzastnr%2BfRsF0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450377789", oauth_token="196301468-2dQad5Oin0mIuM4UwTDzAfzi3PuVE7sK2eNkab2L",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - 10db7a4745c388121bbd39b5d0f9cc11
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1450378514'
      X-Response-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Thu, 17 Dec 2015 18:43:09 GMT
recorded_with: VCR 3.0.0
